<h2>COLLECTIONS</h2>
<div ng-controller="CollectionsController">

        <div>
            <button type="button" ng-click="editCollections(-1)" class="btn btn-labeled btn-success">
                <span class="btn-label fa fa-plus"></span>
                Add
            </button>
        </div>

    <!--{{collections | json}}-->

        <div class="row">
            <div class="col-md-12">

                <uib-accordion close-others="false">
                    <uib-accordion-group  ng-repeat="item in collections" is-open="false">
                        <uib-accordion-heading>
                            {{item.Title}}
                            <i class="pull-right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
                        </uib-accordion-heading>
                        <p>{{item.IDs}}</p>
                    </uib-accordion-group>
                </uib-accordion>

            </div>
        </div>

    </div>