<h3>
   <!-- START Language list-->
   <div class="pull-right">
      <div uib-dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" uib-dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)" href="#">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>
   <!-- END Language list    -->
   Dashboard
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>
<!-- START widgets box-->
<div class="row">
   <div class="col-lg-3 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-primary">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-primary-dark pv-lg">
               <em class="icon-cloud-upload fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">1700</div>
               <div class="text-uppercase">Uploads</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-purple">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <em class="icon-globe fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">700
                  <small>GB</small>
               </div>
               <div class="text-uppercase">Quota</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START widget-->
      <div class="panel widget bg-green">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green-dark pv-lg">
               <em class="icon-bubbles fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0">500</div>
               <div class="text-uppercase">Reviews</div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START date widget-->
      <div class="panel widget">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-green pv-lg">
               <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
               <now format="MMMM" class="text-sm"></now>
               <br/>
               <now format="d" class="h2 mt0"></now>
            </div>
            <div class="col-xs-8 pv-lg">
               <now format="EEEE" class="text-uppercase"></now>
               <br/>
               <now format="h:mm" class="h2 mt0"></now>
               <now format="a" class="text-muted text-sm"></now>
            </div>
         </div>
      </div>
      <!-- END date widget    -->
   </div>
</div>
<!-- END widgets box-->
<div class="row">
   <!-- START dashboard main content-->
   <div class="col-lg-9">
      <!-- START chart-->
      <div class="row">
         <div class="col-lg-12">
            <!-- START widget-->
            <div id="panelChart9" ng-controller="DashboardController as dash" class="panel panel-default">
               <div class="panel-heading">
                  <paneltool tool-collapse="tool-collapse" tool-refresh="traditional"></paneltool>
                  <div class="panel-title">Inbound visitor statistics</div>
               </div>
               <div uib-collapse="panelChart9" class="panel-wrapper">
                  <div class="panel-body">
                     <flot dataset="dash.splineData" options="dash.splineOptions" height="250px"></flot>
                  </div>
               </div>
            </div>
            <!-- END widget-->
         </div>
      </div>
      <!-- END chart-->
   </div>
   <!-- END dashboard main content-->
</div>