<h2>COLLECTIONS</h2>
<div ng-controller="CollectionsController">

    <div>
        <button type="button" ng-click="editCollections(-1)" class="btn btn-labeled btn-success">
            <span class="btn-label fa fa-plus"></span>
            Add
        </button>
    </div>

    <!--{{collections | json}}-->

    <div class="row">
        <div class="col-md-12">

            <uib-accordion close-others="false">
                <uib-accordion-group ng-repeat="item in collections" is-open="true">
                    <uib-accordion-heading>
                        {{item.title}}
                        <i class="pull-right" ng-class="{'fa fa-chevron-up': isopen, 'fa fa-chevron-left': !isopen}"></i>
                        <i class="pull-right" ng-class="{'fa fa-remove': true}" ng-click="deleteCollection($index)"></i>
                    </uib-accordion-heading>
                    <p>Add stream into collection</p>
                    <!--streams-->

                    <!--add steram-->
                    <div>
                        <ui-select ng-model="collections.addStream" theme="bootstrap" ng-disabled="false" on-select="addStream($index, $select.selected)" append-to-body="true">
                            <ui-select-match placeholder="Select stream for add ...">{{$select.selected.name}}</ui-select-match>
                            <!-- addStream($index) -->
                            <ui-select-choices repeat="itemA in streamsMain | propsFilter: {title: $select.search} track by itemA.$id">
                                <div ng-bind-html="itemA.title | highlight: $select.search"></div>
                                <small>Title: {{itemA.apiurl}} </small>
                            </ui-select-choices>
                        </ui-select>
                        <p></p>
                    </div>

                    <!--/add stream-->

                    <div class="panel panel-default"
                         ng-repeat="itemS in streams[$parent.$parent.$index] track by $index" ng-click="getCollections($index)">

                        <div class="panel-heading">
                            <div class="pull-right">
                                <a href="#" class="btn btn-danger" ng-click="deleteStream($parent.$index, $index)"
                                   uib-tooltip="Close Stream">
                                    <em class="fa fa-remove"></em>
                                </a>
                            </div>
                            <h4>Title: {{itemS.title}}</h4>
                        </div>
                        <div class="panel-body">
                            <!--<p><label class="col-sm-4 control-label">Title: </label>{{itemS.title}}</p>-->
                            <p><label class="col-sm-4 control-label">API url: </label>{{itemS.apiurl}}</p>
                            <!--<p><label class="col-sm-4 control-label">API Key: </label>{{itemS.apikey}}</p>-->
                            <p><label class="col-sm-4 control-label">Field: </label>{{itemS.field}}</p>
                            <!--<p><label class="col-sm-4 control-label">Description: </label>{{itemS.description}}</p>-->
                            <p><label class="col-sm-4 control-label">Time:</label>{{itemS.time}}</p>
                            <h4>Line Chart</h4>
                            <div>
                                <canvas linechart="" options="itemS.lineOptions" data="itemS.lineData" height="120" responsive="true"></canvas>
                            </div>
                        </div>
                    </div>

                    <!--/streams-->

                </uib-accordion-group>
            </uib-accordion>

        </div>
    </div>


    <script type="text/ng-template" id="editCollection.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit collection record</h3>
        </div>
        <div class="modal-body" ng-form name="collectionEditForm" novalidate>

            <fieldset>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Title</span>
                        <input type="text" placeholder="Title" class="form-control" ng-model="collectionForm.title">
                    </div>
                </div>
            </fieldset>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>



</div>