<h2>PROFILE</h2>

<div ng-controller="ProfController">
    <div class="modal-body" ng-form name="streamEditForm" novalidate>

        <fieldset>
            <div class="form-group">

                <div class="input-group">
                    <span class="input-group-addon">Email:</span>
                    {{userEmail}}
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Uid:</span>
                    {{userUid}}
                </div>

            </div>
        </fieldset>

    </div>
</div>